# Regions V2 - Living Income Benchmark V3 - CPI V3

Here we will map the li_benchmark_data.csv and cpi_data.csv only

In [1]:
import pandas as pd
import re

## Load files

In [26]:
countries = pd.read_csv("../countries_v2/countries.csv")

In [37]:
regions = pd.read_csv("./regions.csv")

In [27]:
lib = pd.read_csv("./li_benchmark_data.csv")

In [28]:
lib.tail()

,country,region,source,household_size,nr_adults,year,LCU,USD,EUR,household_equiv,links
279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
lib = lib.dropna(how="all")

In [30]:
lib["id"] = lib.reset_index().index + 1

In [31]:
lib.columns

Index(['country', 'region', 'source', 'household_size', 'nr_adults', 'year',
       'LCU', 'USD', 'EUR', 'household_equiv', 'links', 'id'],
      dtype='object')

In [32]:
lib.tail()

,country,region,source,household_size,nr_adults,year,LCU,USD,EUR,household_equiv,links,id
101,Vietnam,Urban / Minimum Wage Region 2,Calculated from Global Living Wage Coalition,4.0,2.0,2023.0,NaN,NaN,NaN,2.1,NaN,102
102,Vietnam,Urban / Minimum Wage Region 3,Calculated from Global Living Wage Coalition,4.0,2.0,2023.0,NaN,NaN,NaN,2.1,NaN,103
103,Vietnam,Rural / Minimum Wage Region 4,Calculated from Global Living Wage Coalition,4.0,2.0,2023.0,NaN,NaN,NaN,2.1,NaN,104
104,Zambia,Rural / All,Calculated from Global Living Wage Coalition,6.0,2.0,2023.0,NaN,NaN,NaN,2.7,NaN,105
105,Zimbabwe,Rural / All,Calculated from Global Living Wage Coalition,5.0,2.0,2023.0,NaN,NaN,NaN,2.4,NaN,106

## Regions V2 (disabled for this batch)

In [33]:
def find_country(val):
    # manual match
    if val == "Turkey":
        val = "Turkiye"
    if val == "Anguilla":
        print("404", val)
        return None
    if val == "Central African Rep.":
        val = "Central African Republic"
    if val == "Congo, Dem. Rep. of the":
        val = "Congo, Dem. Rep."
    if val == "Congo, Rep. of":
        val = "Congo, Rep."
    if val == "Côte d'Ivoire":
        val = "Cote d'Ivoire"
    if val == "Curaçao, Kingdom of the Netherlands":
        val = "Curacao"
    if val == "Czech Rep.":
        val = "Czech Republic"
    if val == "Dominican Rep.":
        val = "Dominican Republic"
    if val == "Egypt, Arab Rep. of":
        val = "Egypt, Arab Rep."
    if val == "Guadeloupe":
        print("404", val)
        return None
    if val == "Iran, Islamic Rep. of":
        val = "Iran, Islamic Rep."
    if val == "Korea, Rep. of":
        val = "Korea, Rep."
    if val == "Kyrgyz Rep.":
        val = "Kyrgyz Republic"
    if val == "Lao People's Dem. Rep.":
        val = "Lao PDR"
    if val == "Martinique":
        print("404", val)
        return None
    if val == "Micronesia, Federated States of":
        val = "Micronesia, Fed. Sts."
    if val == "Montserrat":
        print("404", val)
        return None
    if val == "San Marino, Rep. of":
        print("404", val)
        return None
    if val == "São Tomé and Príncipe, Dem. Rep. of":
        print("404", val)
        return None
    if val == "Sint Maarten, Kingdom of the Netherlands":
        val = "Sint Maarten (Dutch part)"
    if val == "Slovak Rep.":
        val = "Slovak Republic"
    if val == "Syrian Arab Rep.":
        print("404", val)
        return None
    if val == "Venezuela, Rep. Bolivariana de":
        val = "Venezuela, RB"
    if val == "Yemen, Rep. of":
        val = "Yemen, Rep."
    # EOL manual match
    
    find_country = countries[countries["country"].str.lower() == str(val).lower()]
    if find_country.empty:
        # Another custom way
        val_lower = str(val).lower()
        val_tmp = val_lower.lower().split(',')
        for index, row in countries.iterrows():
            # Convert the country name in the DataFrame to lowercase
            country_name = row['country'].lower()
            if val_lower == 'nan':
                return None
            if country_name not in val_tmp:
                continue
            return row["id"]
        # EOL Another custom way
        print("404", val)
        return val
    return find_country["id"].to_list()[0]

In [8]:
# df = pd.read_excel("../lib_dataset.xlsx", sheet_name=0, header=4)

In [9]:
# df = df.rename(columns={"Country": "country", "Region/area.1": "region"})

In [10]:
# regions = df[["country", "region"]]

In [11]:
# regions = regions[regions["region"].notna()]

In [12]:
# regions['country'] = regions['country'].str.replace('\n', ' ').str.strip()
# regions['region'] = regions['region'].str.replace('\n', ' ').str.strip()
# regions['region'] = regions['region'].str.replace(r'^\s+|\s+?$', '', regex=True)

In [13]:
# split_df = regions.assign(region=regions['region'].str.split(' / ')).explode('region')
# split_df = regions.assign(region=regions['region'].str.split('/ ')).explode('region')
# split_df = regions.assign(region=regions['region'].str.split(' /')).explode('region')
# split_df = regions.assign(region=regions['region'].str.split('/')).explode('region')
# split_df = split_df.drop_duplicates(subset=['country', 'region'])
# split_df.reset_index(drop=True, inplace=True)

### Map regions with countries

In [14]:
# split_df["country_id"] = split_df["country"].apply(find_country)

In [15]:
# split_df.head()

      country                   region  country_id
0   Argentina  Non-Metropolitan Urban            7
1   Argentina                      All           7
2   Argentina                   Rural            7
3  Bangladesh                   Urban           15
4  Bangladesh         Satellite Cities          15

### Export Regions to CSV

In [16]:
# group_df = split_df.groupby('region').agg({
#     "country": "unique",
#     "country_id": "unique"
# }).reset_index()

In [17]:
# group_df = group_df[group_df['region'].str.strip() != '']

In [18]:
# group_df['region'] = group_df['region'].str.replace(r'^\s+|\s+?$', '', regex=True)

In [19]:
# group_df['country_id'] = group_df['country_id'].apply(list)
# group_df['country'] = group_df['country'].apply(list)

In [20]:
# group_df["id"] = group_df.reset_index().index + 1

In [21]:
# new_column_order = ["id", "region", "country_id", "country"]

In [22]:
# group_df = group_df[new_column_order]

### Export Region to CSV

In [23]:
group_df.head()

,id,region,country_id,country
1,1,All,"[7, 19, 30, 33, 34, 38, 39, 46, 43, 56, 57, 67...","[Argentina, Belize, Burkina Faso, Cambodia, Ca..."
2,2,All coffee and cocoa growing regions,[145],[Peru]
3,3,Andhra Pradesh,[84],[India]
4,4,Baja California,[119],[Mexico]
5,5,Belém and the metropolitan area,[26],[Brazil]

In [24]:
regions = group_df

In [25]:
regions.to_csv('regions.csv', index=False)

## Living Income Benchmark V3

### Get country id

In [34]:
countries.columns

Index(['id', 'country', 'currency', 'abbreviation'], dtype='object')

In [35]:
def find_new_country(val):
    if val == "Turkey":
        val = "Turkiye"
    country = countries[countries["country"].str.lower() == str(val).lower()]
    if country.empty:
        print("404", val)
        return None
    return country["id"].to_list()[0]

In [36]:
lib["country_id"] = lib["country"].apply(find_new_country)

### Get region id

In [38]:
regions.columns

Index(['id', 'region', 'country_id', 'country'], dtype='object')

In [39]:
split_lib = lib.assign(region=lib['region'].str.split(' / ')).explode('region')
split_lib = lib.assign(region=lib['region'].str.split('/ ')).explode('region')
split_lib = lib.assign(region=lib['region'].str.split(' /')).explode('region')
split_lib = lib.assign(region=lib['region'].str.split('/')).explode('region')
split_lib = split_lib.drop_duplicates(subset=['country', 'region'])
split_lib.reset_index(drop=True, inplace=True)

In [40]:
lib = split_lib

In [45]:
lib['country'] = lib['country'].str.replace('\n', ' ').str.strip()
lib['region'] = lib['region'].str.replace('\n', ' ').str.strip()
lib['region'] = lib['region'].str.replace('\r', ' ').str.strip()
lib['region'] = lib['region'].str.replace(r'^\s+|\s+?$', '', regex=True)

In [49]:
def find_region(val):
    region = regions[regions["region"].str.lower() == str(val).lower()]
    if region.empty:
        print("404", val)
        return None
    return region["id"].to_list()[0]

In [50]:
lib["region_id"] = lib["region"].apply(find_region)

404 coffee-producing households in  Cuanza Sul province
404 East  Rondônia
404 Southeast  Pará
404 Southwest  Pará
404 Belém and the  metropolitan  area
404 Zona da Mata  mineira
404 Santo Domingo
404 Urban Guatemala
404 Rural coffee-growing regions
404 Comayagua, Copán, and El Paraíso
404 Rural coffee and cocoa growing regions
404 coffee-producing households in  the Western province
404 coffee-producing households in  the Wawa prefecture
404 Minimum Wage Region 1
404 Minimum Wage Region 2
404 Minimum Wage Region 3
404 Minimum Wage Region 4

### Export Benchmark to CSV

In [51]:
lib = lib.dropna()

In [52]:
lib["id"] = lib.reset_index().index + 1

/var/folders/00/btls1cns2d544mn2rkm3v4v40000gn/T/ipykernel_4065/3428018960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lib["id"] = lib.reset_index().index + 1

In [53]:
lib.columns

Index(['country', 'region', 'source', 'household_size', 'nr_adults', 'year',
       'LCU', 'USD', 'EUR', 'household_equiv', 'links', 'id', 'country_id',
       'region_id'],
      dtype='object')

In [54]:
lib = lib[['id', 'country_id',
       'region_id', 'country', 'region', 'source', 'household_size', 'nr_adults', 'year',
       'LCU', 'USD', 'EUR', 'household_equiv', 'links']]

In [55]:
lib.to_csv("./li_benchmark.csv", index=False)

## CPI V2

In [2]:
cpi_df = pd.read_csv("./cpi_data.csv")

In [3]:
cpi_df = cpi_df.rename(columns={"Country Name": "country"})

In [4]:
cpi_df = cpi_df.dropna(how="all")

In [5]:
cpi_df.head()

,country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Afghanistan, Islamic Rep. of",97.417222,101.970499,101.295751,105.736448,110.997842,111.692854,114.264439,NaN,NaN,NaN,NaN
1,Albania,89.264316,90.715633,92.435759,93.614714,95.474522,97.410802,98.785357,100.386555,102.435919,109.324942,NaN
2,Algeria,160.100000,164.770000,172.653333,183.699167,193.970000,202.252500,206.200000,211.180000,226.440000,247.420833,270.485833
3,Angola,26.514746,28.445122,31.106440,40.654380,52.787468,63.149087,73.935554,90.402140,113.684573,137.962244,156.785953
4,Anguilla,107.442500,107.170000,106.127500,105.573687,106.940000,107.342500,108.217500,107.705000,109.640000,115.730000,119.672500

### Map with Countries

In [71]:
cpi_df["country_id"] = cpi_df["country"].apply(find_country)

404 Anguilla
404 Guadeloupe
404 Martinique
404 Montserrat
404 San Marino, Rep. of
404 São Tomé and Príncipe, Dem. Rep. of
404 Syrian Arab Rep.

### Transform CPI table

In [73]:
# transform int country, country_id, year, value format
melted_df = pd.melt(cpi_df, id_vars=['country', 'country_id'], var_name='year', value_name='value')
melted_df['value'] = melted_df['value'].fillna(0)

In [74]:
melted_df.reset_index(drop=True, inplace=True)
melted_df["id"] = melted_df.reset_index().index + 1

In [75]:
new_column_order = ["id", "country", "country_id", "year", "value"]

In [77]:
cpi_df = melted_df[new_column_order]

### Export CPI to CSV

In [78]:
cpi = cpi_df.dropna()

In [79]:
cpi = cpi.drop_duplicates(subset=["country_id", "year"])

In [80]:
cpi.head()

   id                       country  country_id  year       value
0   1  Afghanistan, Islamic Rep. of         1.0  2013   97.417222
1   2                       Albania         2.0  2013   89.264316
2   3                       Algeria         3.0  2013  160.100000
3   4                        Angola         5.0  2013   26.514746
5   6           Antigua and Barbuda         6.0  2013   94.603924

In [81]:
cpi.to_csv('cpi.csv', index=False)